#busyBeeProduct {
    font-family: "futura-bold";
    text-transform: uppercase;
    background-color: #ffffff;
    .contact-btn{
        margin-top: 30px;
        a {
            display: inline-block;
            min-width: 250px;
            color: $white;
            background-color: #A0B5AB;
            padding: 10px 10px;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
    .details{
        text-align: center;
        h3{
            color: #383838;
            font-size: 14px;

        }
        h2{
            color: #A0B5AB;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 14px;
            
        }
    }
}

.mh-h-300 {
    min-height: 350px;
}