#checkSpecs{
    padding-bottom: 100px;
    .check-specs{
        border-top: 2px solid #3f3f3f;
    }
    h4{
        padding: 30px 0px;
        color: #A0B5AB;
    }
    .check-specs-content{
        li.margin-r{
            margin-right: 5px;
        }
        li{
            line-height: 31px;
            list-style: disc;
            span.dot{
                height: 10px;
                width: 10px;
                border-radius: 50%;
                display: inline-block;
            }
            span.white-dot{
                border: 1px solid #231F20;
                background-color: #ffffff;
                margin-left: 10px;
            }
            span.green-dot{
                background-color: #53B850;
            }
            span.red-dot{
                background-color: #EF4B48;
            }
            span.blue-dot{
                background-color: #00ADEE;
            }
        }
    }
    
}