#customizeFlash{
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(../img/customize-banner.png);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    .min-hight{
        min-height: 400px;
    }
    .customize-flash-r{
        color: $white;
        max-width: 435px;
        margin-left: auto;
        h2{
            font-size: 22px;
        }
        p{
            padding: 20px 0px;
        }
    }
    .cistomize-btn{
        color: $white;
        border: 2px solid $white;
        padding: 8px 20px;
        font-size: 14px;
        text-transform: uppercase;
    }

    
}
