.bg-color-one{
    background-color: #383838;
    .maxcore-facilities{
        margin: auto;
        max-width: 385px;
        color: #ffffff;

            h2 {
                font-size: 26px;
                line-height: 1.3;
            }
    }
    
}
.min-height{
    height: 400px;
}

.bg-color-two{
    background-color: $white;
    .maxcore-distributor{
        margin: auto;
        max-width: 405px;
        p {
            @include futura-book;
            font-size: 17px;
            color: #383838;
        }
        .agreed-color {
            @include futura-book;
            color: #A0B5AB;
            margin: 15px 0;
        }
    }
    

}