#goodQuestion {
    background-image: url(../img/boy_p1.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    &::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        background-color: rgba(0, 0, 0, 0.25);
    }
    .mh-h-500 {
        min-height: 500px;
    }
   .caption {
        color: #ffffff;
        z-index: 999;
        position: relative;
        max-width: 320px;
        margin-left: 10%;
       h5 {
            margin: 30px 0;
            line-height: 20px;
            font-size: 14px;
        }
        h2 {
            text-transform: uppercase;
            font-family: "futura-bold";
            margin-top: 0px;
            margin-bottom: 11px;
        }
        a {
            text-transform: uppercase;
            color: #ffffff;
            line-height: 26px;
            text-decoration: none;
            border-bottom: 1px solid #ffffff;
        }
    }
}