#poorDistribution {
    .poor-dristribution-bg {
        background-color: $white;
    }

    .poor-dristribution {
        margin: auto;
        max-width: 520px;

        .poor-dristribution-content {
            h4 {
                font-size: 22px;
                max-width: 325px;
                line-height: 28px;
                @include futura-book;
            }

            p {
                @include futura-book;
                font-size: 17px;
                color: #383838;
                line-height: 25px;
                margin: 30px 0px;

                .max-chs {
                    @include futura-bold;
                    font-size: 17px;
                    text-transform: capitalize;
                }

            }


        }
    }

    .min-height {
        height: 400px;
    }
    .distribution-btn{
        text-transform: uppercase;
        color: #A0B5AB;
        border-bottom: 2px solid #A0B5AB;
    }


}

.no-padding{
    padding: 0 !important;
    margin: 0 !important;
}
