#wholesalePricing{
    position: relative;
    display: flex;
    width: 100%;
    height: 550px;
    align-items: center;
    background-image: url(../img/wholesale-banner.jpg);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;

    .pricing-content{
        margin: auto;
        max-width: 405px;
       ul{
           margin: 0px;
           padding: 0px;
           list-style: disc;
           li{
               color: $white;
               line-height: 2.5;
               font-size: 17px;
               a{
                   color: $white;
                   border-bottom: 2px solid $white;
               }
           }
       }
    }
    .btn-mrgn{
        margin-top: 70px;
        
    }
    .pricing-btn{
        color: $white;
        border: 2px solid $white;
        padding: 8px 30px;
        font-size: 14px;
    }
    
}