#desktop-header { 
  padding: 0 70px;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1);
  .blog-logo {
    margin-top: 8px;
  } 

  .navbar-left {
    margin-left: 35px;
      li>a {
        color: #BBBCBE !important;
      }
  }

  .navbar-right {
    margin-top: 11px;
    .start-order {
      color: #ffffff;
      background: #A0B5AB;
      border: none;
      padding: 4px 13px;      
    }

    .ql_cart-btn {
      height: 28px;
      width: 28px;
      padding: 0;
      margin: 0 0 0 40px;
      border-radius: 0;
      border: 2px solid  #BBBCBE;
      justify-content: center;
      align-items: center;
      box-shadow: none !important;
      background: transparent;
    }

    .count {
      color: #babcbf;
    }
  }
  
}